body {
  font-size: 14px;
}

header, main, footer {
  margin: 10px;
  padding: 20px;
  border: solid 5px #CCCCCC;
}

h1 {
  /*font-size: 5em;*/
  color: green;
  background-color: lightpink;
  border: solid 2px red;
  text-align: center;
  /*width: 90vw;*/
  padding: 20px;
  /* margin: 40px */
}

.content {
  display: inline-block;
  width: 28%; /*부모요소 너비의 30%로 설정*/
  height: 100%;
  border: solid 1px black;
  margin: 10px;
  padding: 5px;
}

#m1 {
  border: solid 3px black;
}

article[id="m2"] {
  
}

article div::before {
  content: '[영화소개]';
  font-weight: 900;
  color: darkgreen;
}

article > div::after {
  content: '(더보기)';
  font-style: italic;
  color: darkgreen;
}

a {
  text-decoration: none;
  color: darkred;
}

a:visited {
  color: orange;
}

a:hover {
  background-color: blue;
  color: white;
}

a:active {
  background-color: darkred;
  color: white;
}
